<!-- Toast div for Success-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5;" aria-live="polite" aria-atomic="true">
    <div class="toast bg-success" id="successToastDiv">
        <div class="toast-body p-2">
            <strong class="me-auto text-white" style="font-size: 14px;" id="successToastMessage">Success</strong>
            <button class="btn ms-2 p-1" style="float: right;" type="button" data-bs-dismiss="toast" aria-label="Close">
                <span class="uil uil-times fs-7 text-white"></span>
            </button>
        </div>
    </div>
</div>

<!-- Toast div for Error-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5;" aria-live="polite" aria-atomic="true">
    <div class="toast bg-danger" id="errorToastDiv">
        <div class="toast-body p-2">
            <strong class="me-auto text-white" style="font-size: 14px;" id="errorToastMessage">Error</strong>
            <button class="btn ms-2 p-1" style="float: right;" type="button" data-bs-dismiss="toast" aria-label="Close">
                <span class="uil uil-times fs-7 text-white"></span>
            </button>
        </div>
    </div>
</div>
